<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
   }

</style>
<body>
<h2>About Us</h2>
<h4>
  <p>
    GOTrip Travels of India is the largest Travel Company in India in terms of number of IATA approved Branches, staff strength and business turnover. Flight bookings have been made simpler than ever after Gotrip Travels launched its Travel Portal, Gotrip online.com, in 2007. The portal has been successfully assisting the passenger to book cheap flight tickets both in National and International sectors. With effect from 12th March, 2014 the name of the travel portal has been changed to 'Gotrip.com'.
After years of successful operations since 2007, Gotrip.com is poised for greater growth.
  </p>
</h4>
<!-----------image--------------->
<img src="static/images/mali.jpg"width="100%">
</body>
</html>